
<div class="row">
  <div class="col-4">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Home
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        Profile
      </a>
      <a routerLink="/question-bank" class="list-group-item list-group-item-action">
        Question Bank
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        Tests
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        Analytics
      </a>
    </div>
  </div>
  <div class="col-8"></div>
</div>
