
<form [formGroup]="login" #form="ngForm" (ngSubmit)="OnSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row g-3">
      <div *ngIf="serverErrors.Password" class="col-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ serverErrors.Password }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="RemoveError('Password')"></button>
        </div>
      </div>
      <div *ngIf="serverErrors.Email" class="col-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ serverErrors.Email }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="RemoveError('Email')"></button>
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email address</label>
        <input id="email" class="form-control form-control-sm" formControlName="email"
               [class.is-invalid]="(form.submitted || email.touched) && email.errors" />
        <div *ngIf="(form.submitted || email.touched) && email.errors" class="invalid-feedback">
          <ng-container *ngIf="email.errors.required else otherError">
            This field is required
          </ng-container>
          <ng-template #otherError>
            Invalid email address
          </ng-template>
        </div>
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control form-control-sm" formControlName="password" type="password"
               [class.is-invalid]="(form.submitted || password.touched) && password.errors" />
        <div *ngIf="(form.submitted || password.touched) && password.errors" class="invalid-feedback">
          <ng-container *ngIf="password.errors.required">
            This field is required
          </ng-container>
        </div>
      </div>
    </div>  
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-outline-primary" [disabled]="submitting">
      <ng-container *ngIf="!submitting else Loading">
        Submit
      </ng-container>
      <ng-template #Loading>
        <div class="spinner-border spinner-border-sm"></div>
        Submitting
      </ng-template>
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="activeModal.close()">Close</button>
  </div>
</form>

