<div class="row g-3 shadow-sm">
  <div class="col-1 p-2">
    <div class="question-position bg-success text-center">
      {{ pageQuestion.Position + 1 }}
    </div>
  </div>
  <div class="col-11 p-2">
    <form>
      <div class="row">
        <div class="col-12" [innerHTML]="pageQuestion.Question!._Question">
          <!-- question -->
        </div>
        <ng-container *ngIf="pageQuestion.Question!.Answers">
          <div *ngFor="let answer of pageQuestion.Question!.Answers; let i = index;" class="col-12 mx-3 p-1">
            <!-- display answers -->
            <!-- Multiple choice -->
            <ng-container *ngIf="pageQuestion.Question!.TypeId === 1">
              <div class="form-check">
                <input [type]="pageQuestion.Question!.Selection ? 'checkbox' : 'radio'" 
                       class="form-check-input" [id]="'answer' + key + '-' + i" [name]="'answer' + key"
                       [value]="answer.Id" (change)="onCheckChange($event)" />
                <label class="form-check-label" [for]="'answer' + key + '-' + i" [innerHTML]="answer._Answer"></label>
              </div>
            </ng-container>
            <!-- True False -->
            <ng-container *ngIf="pageQuestion.Question!.TypeId === 2">
              <div class="form-check">
                <input type="radio"
                       class="form-check-input" [id]="'answer' + key + '-' + i" [name]="'answer' + key" />
                <label class="form-check-label" [for]="'answer' + key + '-' + i" [innerHTML]="answer._Answer"></label>
              </div>
            </ng-container>
            <!-- Matching -->
            <ng-container *ngIf="pageQuestion.Question!.TypeId === 3">
              <div class="row">
                <div class="col-5" [innerHTML]="answer._Answer"></div>
                <div class="col-2">
                  <i class="bi bi-arrow-right"></i>
                </div>
                <div class="col-5" [innerHTML]="answer.Match"></div>
              </div>
            </ng-container>
            <!-- Free Text -->
            <ng-container *ngIf="pageQuestion.Question!.TypeId === 4">
              <!--<span [innerHTML]="answer._Answer"></span>-->
            </ng-container>
            <!-- Essay -->
            <ng-container *ngIf="pageQuestion.Question!.TypeId === 5">
            </ng-container>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
