
.correct {
  border-bottom: 3px solid rgb(67, 160, 71);
  background-color: rgb(216, 244, 218);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
