<div class="row">
  <div class="col-3">
    <div class="row">
      <div class="col-6">
        Test Index
      </div>
      <div class="col-6">
        <i class="bi bi-arrow-bar-left"></i>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-6">
        <i class="bi bi-folder2-open"></i>
        Pages
      </div>
      <div class="col-6">
        <i class="bi bi-chevron-up"></i>
      </div>

      <div class="col-12">
        <div class="col-6">
          <i class="bi bi-file-earmark-text-fill"></i>
          Page 1
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-light text-dark">
            <i class="bi bi-info-circle-fill"></i>
            3 / 5
          </span>
        </div>

        <div class="col-6">
          <i class="bi bi-file-earmark-text-fill"></i>
          Page
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-light text-dark">
            <i class="bi bi-info-circle-fill"></i>
            1 / 8
          </span>
        </div>

        <div class="col-6">
          <i class="bi bi-file-earmark-text-fill"></i>
          Page 3
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-light text-dark">
            <i class="bi bi-info-circle-fill"></i>
            0 / 2
          </span>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        Answered: 0 / 10
      </div>
      <div class="col-12">
        Progress: 50%
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar"
               style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-gear-fill"></i>
          Settings
        </button>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-outline-success">
          <i class="bi bi-sd-card-fill"></i>
          Save
        </button>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-outline-dark">
          <i class="bi bi-arrow-bar-right"></i>
          Finish test
        </button>
      </div>
    </div>
    <hr />

    <div class="row">
      <button type="button" class="btn btn-link">
        <i class="bi bi-x"></i>
        Close
      </button>
    </div>
  </div>

  <!-- Test -->
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <!-- test name -->
        Math 1
      </div>

      <div class="col-1">
        <i class="bi bi-arrow-return-right"></i>
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-6">
            Page 2 / 3: Page Name 2
          </div>
          <div class="col-3">
            <i class="bi bi-clock-fill"></i> Remaining Time for Page
          </div>
          <div class="col-3">
            1 minute, 29 seconds
          </div>
        </div>
      </div>

      <div class="col-12">
        <!-- display questions -->
      </div>
    </div>
  </div>
</div>
