<div *ngIf="test" class="row">
  <div class="col-3">
    <div class="row">
      <div class="col-6">
        Test Index
      </div>
      <div class="col-6">
        <i class="bi bi-arrow-bar-left"></i>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-6">
        <i class="bi bi-folder2-open"></i>
        Pages
      </div>
      <div class="col-6">
        <i class="bi bi-chevron-up"></i>
      </div>

      <div class="col-12">
        <ng-container *ngFor="let page of test.Pages">
          <div class="col-6">
            <i class="bi bi-file-earmark-text-fill"></i>
            {{ page.Name }}
          </div>
          <div class="col-6">
            <span class="badge rounded-pill bg-light text-dark">
              <i class="bi bi-info-circle-fill"></i>
              0 / {{ page.PageQuestions.length }}
            </span>
          </div>
        </ng-container>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        Answered: {{ answered }} / {{ totalQuestions }}
      </div>
      <div class="col-12">
        Progress: {{ progress }}%
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar"
               style="width:{{ progress }}%"
               [attr.aria-valuenow]="progress"
               [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-gear-fill"></i>
          Settings
        </button>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-outline-success">
          <i class="bi bi-sd-card-fill"></i>
          Save
        </button>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-outline-dark">
          <i class="bi bi-arrow-bar-right"></i>
          Finish test
        </button>
      </div>
    </div>
    <hr />

    <div class="row">
      <button type="button" class="btn btn-link">
        <i class="bi bi-x"></i>
        Close
      </button>
    </div>
  </div>

  <!-- Test -->
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <!-- test name -->
        {{ test.Name }}
      </div>

      <div class="col-1">
        <i class="bi bi-arrow-return-right"></i>
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-6">
            Page {{ currentPageIndex + 1 }} / {{ test.Pages.length }}: {{ test.Pages[currentPageIndex] }}
          </div>
          <div class="col-3">
            <i class="bi bi-clock-fill"></i> Remaining Time for Page
          </div>
          <div class="col-3">
            <!--1 minute, 29 seconds-->
            <ng-container *ngIf="remainingTime">
              {{ remainingTime }} seconds
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-12">
        <!-- display questions -->
      </div>
    </div>
  </div>
</div>
