
<div class="row g-3">
  <div class="col-6">
    <button type="button" class="btn btn-sm btn-secondary me-2">
      <i class="bi bi-files"></i> Duplicate
    </button>
    <button type="button" class="btn btn-sm btn-danger">
      <i class="bi bi-trash"></i> Delete
    </button>
  </div>
  <div class="col-6 text-end pe-0">
    <button type="button" class="btn btn-sm btn-outline-warning me-2">
      <i class="bi bi-play-fill"></i> Preview Test
    </button>
    <button type="button" class="btn btn-sm btn-warning">
      <i class="bi bi-reply-fill assign-icon"></i> Assign Test
    </button>
  </div>

  <div class="col-12">
    Test Introduction
  </div>

  <div class="col-6">
    <h3>
      {{ test?.Name }}
    </h3>
  </div>
  <div class="col-6 text-end pe-0">
    <button class="btn btn-sm btn-warning" (click)="OnAddNewPage()" [disabled]="!test">Add a new page</button>
  </div>
  <!--<div class="col-12">
    Questions: 3 Fixed + 2 Auto selected at random on start
  </div>-->
  <!-- pages list + actions -->
  <div *ngIf="test" class="col-12">
    <div class="row page-drop-boundary" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let page of test!.Pages; let i = index;" class="col-12"
           cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".page-drop-boundary">
        <div class="row align-items-end shadow-sm p-2">
          <!-- drag + drop -->
          <!-- page name -->
          <!-- page properties (limit + shuffle) -->
          <!-- page actions (edit + config + delete) -->
          <div class="col-1 ps-0">
            <i class="bi bi-arrow-down-up" style="cursor: move;" cdkDragHandle></i>
          </div>
          <div class="col-3">
            {{ page.Name }}
          </div>
          <div class="col-4 fw-light text-end">
            <ng-container *ngIf="page.Limit">
              {{ page.Limit }} seconds
              <i class="bi bi-clock-fill"></i>
            </ng-container>
            <ng-container *ngIf="page.Shuffle">
              &nbsp;
              <i class="bi bi-shuffle"></i>
            </ng-container>
          </div>
          <div class="col-4 pe-0 text-end">

            <a class="btn btn-sm btn-success me-1" role="button" [routerLink]="['/admin', 'page-edit', page.Id]">
              <i class="bi bi-pencil-fill"></i>
            </a>
            <button class="btn btn-sm btn-light me-1" (click)="OnEditPageSettings(page)">
              <i class="bi bi-gear-fill"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="OnDeletePage(page)" [disabled]="loading[i]">
              <ng-container *ngIf="!loading[i] else Loading">
                <i class="bi bi-trash-fill"></i>
              </ng-container>
              <ng-template #Loading>
                <div class="spinner-border spinner-border-sm"></div>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

