
.question-actions {
  border-top: 1px solid #6c757d;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.assign-icon::before {
  transform: rotate(180deg) translateY(-5%);
}
